.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-row-start: 2;
}

.header {
	align-items: stretch;
	background-color: darkorchid;
	display: flex;
	padding: 15px;
}

.header nav ul li {
	list-style-type: none;
}
